spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/autopark
    username: postgres
    password: PostGre
    hikari:
      maximum-pool-size: 10
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.spatial.dialect.postgis.PostgisPG95Dialect
        show_sql: false
        format_sql: true
        session_factory.statement_inspector: org.example.autopark.nplusone.QueryCountingInspector
#        generate_statistics: true
    hibernate:
      ddl-auto: none  # Обновление схемы БД автоматически



#logging:
#  level:
#    org.hibernate.stat: ERROR   # сам Hibernate статистикой в лог не шумит
#    org.hibernate.SQL: INFO
#    org.hibernate.orm.jdbc.bind: WARN
#  batch:
#    jdbc:
#      initialize-schema: always
  # R2DBC для реактивных репозиториев и DatabaseClient

#  r2dbc:
#    url: r2dbc:postgresql://localhost:5432/autopark
#    username: postgres
#    password: PostGre
#  data:
#    r2dbc:
#      repositories:
#        enabled: false

  autoconfigure:
    exclude:
      # Полностью гасим R2DBC-автоконфиг в обычном режиме
      - org.springframework.boot.autoconfigure.r2dbc.R2dbcAutoConfiguration
      - org.springframework.boot.autoconfigure.data.r2dbc.R2dbcDataAutoConfiguration
      - org.springframework.boot.autoconfigure.r2dbc.R2dbcTransactionManagerAutoConfiguration
      - org.springframework.boot.autoconfigure.data.r2dbc.R2dbcRepositoriesAutoConfiguration
      - org.springframework.boot.devtools.autoconfigure.DevToolsR2dbcAutoConfiguration

app:
  telegram:
    enabled: false   # ← этот флаг будем комментировать/раскомментировать

telegram:
  bot:
    token: 7846683098:AAGq8t2Cz1ppxJSTjYc9xA2iQjtomcoUBXI
    username: SaxophilymanAutoparkBot




#   PostgisDialect
#   PostgisPG95Dialect