spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/autopark
    username: postgres
    password: PostGre
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.spatial.dialect.postgis.PostgisPG95Dialect
        show_sql: true
        format_sql: true
    hibernate:
      ddl-auto: none  # Обновление схемы БД автоматически
telegram:
  bot:
    token: 7846683098:AAGq8t2Cz1ppxJSTjYc9xA2iQjtomcoUBXI
    username: SaxophilymanAutoparkBot

#   PostgisDialect
#   PostgisPG95Dialect