# Чтобы кластеры A/B/C не конфликтовали — разные project name и volumes
COMPOSE_PROJECT_NAME=autopark-b

# --- DB ---
DB_NAME=autopark
DB_USER=autopark
DB_PASSWORD=PostGre
DB_PORT=5432

# --- ports ---
AUTOPARK_PORT=8080
NOTIFY_PORT=8082
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000

# --- stable volumes ---
DB_VOLUME_NAME=autopark-b-db-data
GRAFANA_VOLUME_NAME=autopark-b-grafana-data

# --- tokens ---
INTERNAL_API_TOKEN=dev-token

TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=
TELEGRAM_ALERT_CHAT_ID=0

# --- Grafana admin ---
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=ChangeMeStrong

# --- Grafana -> notify webhook ---
GRAFANA_WEBHOOK_URL=http://notify-service:8082/api/grafana/webhook

# --- Autopark profile ---
AUTOPARK_PROFILE=cluster-b
