/* Ограничиваем размер карты */
.map-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 500px;
    overflow: hidden; /* Убираем лишнее */
    border: 1px solid #ccc;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 8px; /* Закругляем углы */
}